.HeaderClass
{
    display: flex;
    justify-content: space-between;
     align-items: center;  /*use for vertically center */
    /* width: 1440px; */
    height: 80px;
    background-color:#1C2B35;
    padding-left: 100px;
    padding-right: 100px;
}

.HeaderClass a
{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.HeaderClass a:hover
{
    color: orange;
}

.dark-mode {
    background-color:black;
    color: white;
  }
